---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import Button from "@components/common/Button.astro";
import type { HomeEntry } from "@/types";
import { Image } from "astro:assets";

interface Props {
  entry: HomeEntry;
}

const { entry } = Astro.props;
const { image, imageAlt, title, content, button } = entry.data;
---

<BaseLayout>
  <!-- Banner -->
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-6">
          {
            image && (
              <div class="blur-[0px]">
                <Image
                class="mb-6 w-64"
                src={image}
                alt={imageAlt}
                width={1024}
                height={1024}
                loading="eager"
              />
              </div>
              
            )
          }

          {
            button && (
              <Button
                label={button.label}
                link={button.link}
                newtab
                hoverInvert
                color=""
              />
            )
          }
        </div>
      </div>
    </div>
  </section>

  <section class="flex container justify-center my-8">
    <div class="col md:col-12">
       <div class="flex container row justify-center">
        <div class="col lg:col-12">
         <div class="glass rounded-lg p-4 intersect:animate-fadeUp opacity-0">
            <h1 set:html={markdownify(title)} class="mb-4" />
            <p set:html={markdownify(content)} class="mb-8" />
         </div>
       </div>
    </div>
    </div>
  </section>

</BaseLayout>
